<header class="site-header">
  <a href="{{ site.baseurl }}/" class="site-logo"><img src="{{ site.baseurl }}/assets/logo.png" alt="Logo"></a>
  <nav class="site-nav">
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/blog/">Blog</a>
    <a href="{{ site.baseurl }}/projects.html">My Projects</a>
    <a href="{{ site.baseurl }}/about.html">About</a>
  </nav>
  <div class="site-social">
    <a href="https://github.com"><img src="{{ site.baseurl }}/socialicons/github.png" alt="GitHub"></a>
    <a href="https://codepen.io"><img src="{{ site.baseurl }}/socialicons/codepen.png" alt="CodePen"></a>
  </div>
</header>