<header class="site-header">
  <a href="{{ site.baseurl }}/" class="site-logo"><img src="{{ site.baseurl }}/assets/logo.png" alt="Logo"></a>
  <nav class="site-nav">
    <a href="{{ site.baseurl }}/blog/">Blog</a>
    <a href="{{ site.baseurl }}/projects.html">Projects</a>
    <a href="{{ site.baseurl }}/about.html">About</a>
  </nav>
  <div class="site-social">
    <a href="https://github.com/rubin-hood" target="_blank" aria-label="GitHub">
      <img src="/blog/socialicons/github.png" alt="GitHub" data-alt="/blog/socialicons/github2.png">
    </a>
    <a href="https://bsky.app/profile/rubin-hood.bsky.social" target="_blank" aria-label="Bluesky">
      <img src="/blog/socialicons/bluesky.png" alt="Bluesky" data-alt="/blog/socialicons/bluesky2.png">
    </a>
    <a href="https://medium.com/@rubin-hood" target="_blank" aria-label="Medium">
      <img src="/blog/socialicons/medium.png" alt="Medium" data-alt="/blog/socialicons/medium2.png">
    </a>
    <a href="https://codepen.io/rubin-hood" target="_blank" aria-label="CodePen">
      <img src="/blog/socialicons/codepen.png" alt="CodePen" data-alt="/blog/socialicons/codepen2.png">
    </a>
    <a href="https://www.youtube.com/@Rubin-Hood/videos" target="_blank" aria-label="YouTube">
      <img src="/blog/socialicons/youtube.png" alt="YouTube" data-alt="/blog/socialicons/youtube2.png">
    </a>
  </div>
</header>